.textCenter { 
    text-align: center;
    margin-top: 1%;
    }

.pageStyle {
    background-color: rgb(132, 196, 252) ;
    position: fixed;
    top: 0; 
    left: 0; 

    /* Preserve aspet ratio */
     min-width: 100%;
    min-height: 100%

}

.title{
    font: outline;
    color: #ffffff;
    font-size: 275%;
    -webkit-text-stroke: 2px black;
}

.reglas {
    border-radius: 10%;
    width: 60%;
    height: auto;
}

.eleccion{
    padding: 0.75rem;
    transition: all .3s;
    text-align: center;
}

.elecciones{
    justify-content: space-around;
    padding: 2% 2% 2% 2%;
  }